<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639815802167-mi3k4kedi45ep4unqunimdvvoqbp3i19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639815802167-mi3k4kedi45ep4unqunimdvvoqbp3i19</string>
	<key>API_KEY</key>
	<string>AIzaSyCNGg-2ypVzFJnH7XyIBnC3pcJYaeiwT9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>639815802167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tryCatchProject</string>
	<key>PROJECT_ID</key>
	<string>jarnama2example</string>
	<key>STORAGE_BUCKET</key>
	<string>jarnama2example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639815802167:ios:9a5ff1719784dca88a0eb2</string>
</dict>
</plist>